@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
body {
    background: #e5e5e5;
    color: #000;
}

a {
    color: #ffbd29;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
    outline: none;
}

.center {
    text-align: center;
}

.mobile_versin {
    display: none;
}


/* ----------------------------------- */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 99999;
}

#main-slider {
    background-image: url(../images/bg_image.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 150px 0;
    color: #000000;
}

#main-slider h1 {
    font-size: 100px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.1);
    color: #000;
    font-weight: 800;
}

#main-slider p {
    font-size: 54px;
}


/* ----------------------------------- */

.box p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
}

.box h2 {
    font-size: 40px;
}

.box h3 {
    font-size: 24px;
}

.box li {
    font-size: 18px;
}

.bell {
    background-image: url(/images/megaphone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding-right: 1.1em;
}

.group_logo {
    width: 150px;
    border-radius: 50%;
    margin: 12px 0;
}

#contact .box {
    background-color: #222;
    color: #999;
}

#contact .box {
    background-color: #f3a800;
    color: #000;
}

textarea,
input {
    background-color: #fff!important;
    resize: none;
}

.btn-danger {
    background-color: rgb(255, 255, 255);
    border: 0;
    color: #000;
}

.btn-danger:hover {
    background-color: #000000;
    color: #fff;
}

.navbar-default .navbar-toggle {
    position: static;
    float: none;
    margin: 8px 0;
    border-color: 1px solid #f9bd11;
    background-color: #f9c428;
}

.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar {
    border-radius: 0 0 5px 5px;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    padding: 78px 30px 50px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}

.box.first {
    margin-top: -40px;
    border-radius: 5px 5px 0 0;
}

.last {
    border-radius: 0 0 5px 5px;
}

.navbar-nav {
    position: relative;
    left: 50%;
    margin-left: -302px;
}

img.screen {
    border: 1px solid #000;
    width: 100%;
    max-width: 400px;
}

.navbar-default .navbar-nav>li {
    margin-left: 1px;
}

.navbar-default .navbar-nav>li>a {
    padding: 30px 25px;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}

.navbar-default .navbar-nav>li>a>i {
    display: inline-block;
}

.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li.active:focus>a,
.navbar-default .navbar-nav>li.active:hover>a,
.navbar-default .navbar-nav>li:hover>a,
.navbar-default .navbar-nav>li:focus>a,
.navbar-default .navbar-nav>li.active>a:focus,
.navbar-default .navbar-nav>li.active:focus>a:focus,
.navbar-default .navbar-nav>li.active:hover>a:focus,
.navbar-default .navbar-nav>li:hover>a:focus,
.navbar-default .navbar-nav>li:focus>a:focus {
    background-color: #ffbd29;
    color: #000;
}

.price h1 {
    font-size: 26px;
}

.price ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 100px 0;
}

.price_zakrep {
    margin: 20px 0 10px;
}


/* ---------------------------------------- */

.collapsed i {
    transform: rotate(180deg);
}

.card {
    margin-left: -40px;
}

.accorion_head {
    background-color: #e4e4e4;
    margin: 10px 0 0;
    transition: 300ms;
}

.accorion_head .mb-0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion {
    margin-bottom: 8px;
}

.accordion a {
    color: #000;
}

.accordion p {
    padding: 8px;
    margin: 0;
    font-size: 16px;
}

.accorion_body {
    border: 1px solid #e4e4e4;
    border-radius: 0 0 8px 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.accorion_body img {
    margin: 12px;
}

#accordionYY .accorion_body li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ---------------------------------------------- */

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #999;
}

#footer a {
    color: #999;
}


/* 
#footer a:hover {
    color: #52b6ec;
} */

ul.social {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

ul.social>li {
    margin: 0 0 20px;
}

ul.social>li>a {
    display: block;
    font-size: 32px;
}

ul.social>li>a i {
    margin-right: 10px;
}

textarea#message {
    padding: 10px 15px;
    height: 220px;
}

.pre_form {
    margin-bottom: 50px;
}

.social a {
    color: #000;
    font-size: 24px;
}

.last h1 {
    font-size: 50px;
    font-weight: 800;
}


/* ---------------------------------------------- */

@media screen and (max-width: 768px) {
    .pc_versin {
        display: none;
    }
    .mobile_versin {
        display: block;
    }
    .center-mob {
        text-align: center;
    }
    #main-slider h1 {
        font-size: 80px;
    }
    .box {
        padding: 78px 8px;
    }
    .box h2 {
        font-size: 30px;
    }
    .box h3 {
        font-size: 20px;
        line-height: 1.6;
    }
    .box p {
        font-size: 16px;
    }
    .box li {
        font-size: 16px;
    }
    .box ol {
        padding-left: 20px;
    }
    /* --------------------------- */
    #headingYY1 {
        display: none;
    }
    .card {
        margin-left: -20px;
    }
    /* --------------------------- */
    .price ul {
        margin: 50px 0;
    }
    .navbar-collapse {
        padding: 0;
    }
    .navbar-nav {
        position: static;
        left: 0;
        margin: 0;
    }
    /* ---------------------------- */
    .mt-50 {
        margin-top: 50px;
    }
    #accordionYY .accorion_body ul {
        padding: 0;
    }
    #accordionYY .accorion_body li {
        margin-top: 30px;
        display: block;
    }
    img.screen {
        width: 100%;
        margin: 0;
    }
}